<!DOCTYPE html>
<html>
<head>
    <!-- 指明字符编码为 utf-8 否则中文会乱码 -->
    <meta charset="utf-8">
    <title>留言板</title>
</head>
<body>
    <h1>留言</h1>
    <form action="/message" method="GET">
        这是一个发送 GET 请求的表单
        <br>
        <textarea name="name" placeholder="输入你的名字"></textarea>
        <textarea name="content" placeholder="说出你的心里话"></textarea>
        <br>
        <button type="submit">用 GET 提交表单</button>
    </form>

    {% for m in msgs %}
        <h1>{{ m.name }} : {{ m.content }}</h1>
    {% endfor %}
    <form action="/message" method="POST">
        这是一个发送 POST 请求的表单
        <br>
        <textarea name="msg_post"></textarea>
        <br>
        <button type="submit">用 POST 提交表单</button>
    </form>
</body>
</html>
